h1 {
    font-size: 45px !important;
}

h2 {
    font-size: 35px !important;
}

h3 {
    font-size: 24px !important;
}

* {
    font-family: "Helvetica Neue" !important;
    /* font-weight: 500; */
    font-weight: bold !important;
    border-radius: 0px;
    box-shadow: none !important;
}

.toast__message {
    white-space: normal;
}

.toast {
    padding: 16px 16px;
    line-height: 1.5;
}

.ion-icon--larger {
    margin-right: 4px;
    position: relative;
    top: 6px;
    font-size: 140%;
}

.list-header {
    text-transform: none !important;
}

.header-icon--larger {
    margin-right: 4px;
    position: relative;
    top: 4px;
    font-size: 130%;
}

.hidden {
    opacity: 0.2;

}

.icon--center {
    display: block;
    margin: auto;
}

.list-item {
    border-left: 3px solid #f0eff4;
    border-bottom: 3px solid #f0eff4;
    /* background-color: #ffffff !important; */
}

.list {
    background-color: white !important;
    background-image: none !important;
}

.list-item--material__center {
    background-image: linear-gradient(0deg, #f0eff4, #f0eff4 50%, transparent 50%) !important;
    padding: 14px 6px 14px 6px !important;
}

.list-item--button {
    padding: 0 0 !important;
}

.list-item__center {
    background-image: linear-gradient(0deg, #f0eff4, #f0eff4 50%, transparent 50%) !important;
    padding: 14px 6px 14px 6px !important;
}

.negative {
    color: white;
    background-color: #909090;
}

.positive {
    background-color: #039801;
    color: white;
}


.button-icon {
    margin-right: 4px;
    position: relative;
    top: 2px;
}

button{
    border-radius: 0px !important;
}

.button{
    border-radius: 0px !important;
}

.card {
    border-radius: 0px !important;
}

.card--completed {
    opacity: 0.2;
}

.toolbar__right {
    padding-right: 15px;
}

.card__uniform {
    height: 120px;
    border-radius: 0px;
    margin: 6px 3px;
}

.bubble-center {
    position: relative;
  }
  
.bubble-center p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#square {
    position: relative;
  }

#circle {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #2a95a5 ;
    border-radius: 50% !important;

  }

.timer {
    width: 80px;
    height: 80px;
    position: fixed;
    right:4 !important;
    top:4 !important;
    padding-top: 5px;
    padding-left: 5px;
}

.duration {
    display: inline;

    padding: 10px 10px;
}

.icon-in-button {
    position: relative;
    top: 2px;
}

.tabbar {
    background-image: none !important;
}

.button--quiet {
    color: #1ea2e7 !important;
}

.button--quiet.positive--quiet {
    color: #039801 !important;
}

.button-light-blue {
    background-color: #1ea2e7 !important;
}

.back-button {
    color: #1ea2e7 !important;
}

.tabbar__item.active {
    color: #1ea2e7 !important;
}

:checked + .tabbar__button {
    color: #1ea2e7 !important;
}

.back-button__icon {
    fill: #1ea2e7 !important;
}