h1 {
    font-size: 45px !important;
    font-weight: 1000 !important;
}

h2 {
    font-size: 35px !important;
    font-weight: 1000 !important;
}

h3 {
    font-size: 24px !important;
    font-weight: 1000 !important;
}

* {
    font-family: Roboto, sans-serif !important;
}

.toast__message {
    white-space: normal;
}

.toast {
    padding: 16px 16px;
    line-height: 1.5;
}

.ion-icon--larger {
    margin-right: 4px;
    position: relative;
    top: 6px;
    font-size: 140%;
}

.list-header {
    text-transform: none !important;
}

.header-icon--larger {
    margin-right: 4px;
    position: relative;
    top: 4px;
    font-size: 130%;
}

.hidden {
    opacity: 0;

}

.icon--center {
    display: block;
    margin: auto;
}